body {
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(120deg, #004AAD, #004AAD);
    width: auto;
    
}

header {
    display: grid;
    text-align: center;
    margin: 5px;
    padding: 20px;
    background-color: #EFA401;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-box{
    box-shadow: 5px 1px 5px black;
    display: flex;

}

.img-box{
    box-shadow: 5px 1px 5px black;
    display: flex;
    width: auto;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    width: auto;
    margin: 5px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-content: center;
}

h1 {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h2 {
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 50;
    font-size: 40px;
}
p{
    margin: 5px;
    text-align: center;
    font-size: 30px;
    text-align: justify;
}


a {
    color: #EFA401;
}

a.button {
    display: inline-block;
    background-color: #004AAD;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.s ease-in-out;
}

#scrollButton{
    display: inline-block;
    background-color: #004AAD;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.s ease-in-out;

}

#scrollButton:hover {
    background-color: #00274D;
    color:#EFA401;
    background: black;
    border-radius: 5px;
    box-shadow: 0 0 5px black,
                0 0 25px black,
                0 0 50px white,
                0 0 100px white;
}

a.button:hover {
    background-color: #00274D;
    color:#EFA401;
    background: black;
    border-radius: 5px;
    box-shadow: 0 0 5px black,
                0 0 25px black,
                0 0 50px white,
                0 0 100px white;
                
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #EFA401;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5px;
}

@media only screen and (max-width: 400px) {
    body {
        
        display: flex;
        flex-direction: column;
    }
    header {
        padding: 10px;
    }
    section {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 5px;
        padding: 5px;
    }
    p{
        margin: 5px;
        text-align: center;
        font-size: 20px;
        text-align: justify;
    }
    h1, h2{
        margin: 5px;
        text-align: center;
        font-size: 30px;
        
    }
    .main-box{
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .img-box{
        display: flex;
        width: 90%;
        
    }
    footer {
        padding: 10px;
    }

}

